<footer class="bg-gray-800">
    <div class="text-white grid grid-cols-3 p-6">
      <div class="text-justify">
        <img class="mx-auto h-8 w-auto" src="./../../../../assets/images/logo-white.png" alt="logo lola ortega">
          <h4>
            Explora nuestra amplia gama de regalos personalizados 
            diseñados para sorprender y emocionar en cualquier ocasión. 
            Desde regalos únicos hasta opciones económicas, 
            nuestra tienda ofrece una selección diversa para 
            todos los gustos y presupuestos. 
          </h4>
      </div>
      <div class="text-center">
        <h3 class="text-lg">CATEGORÍAS</h3>
        <h4>Categoría 1<br />
          Categoría 2<br />
          Categoría 3<br />
        </h4>
      </div>
      <div class="text-center">
        <span class="bg-blue-100 text-black text-xs font-semibold px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ms-3">Redes</span>
        <div class="flex items-center mt-2.5 mb-5">
          <div class="flex items-center space-x-1 rtl:space-x-reverse h-auto mx-auto max-w-full rounded-lg">
            <a href="">
              <img class="w-4 h-4" src="./../../../../assets/images/fb.png" alt="product image" />
            </a>
            <a href="">
              <img class="w-4 h-4" src="./../../../../assets/images/ig.png" alt="product image"/>
            </a>
            <a href="">
              <img class="w-4 h-4" src="./../../../../assets/images/x-logo.png" alt="product image"/>
            </a>
            <a href="">
              <img class=" w-4 h-4" src="./../../../../assets/images/tik-tok.png" alt="product image"/>
            </a>
            <a href="">
              <img class="w-4 h-4" src="./../../../../assets/images/wsp.png" alt="product image"/>
            </a>
            <a href="">
              <img class="w-4 h-4" src="./../../../../assets/images/channels.png" alt="product image"/>
            </a>
          </div>
        </div>
      </div>
    </div>

      <div class=" dark:bg-gray-800">
        <div class="w-full text-center mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
          <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="#" class="hover:underline">Lola Ortega</a>. All Rights Reserved.
        </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
            <li>
                <a href="#" class="hover:underline me-4 md:me-6">About</a>
            </li>
            <li>
                <a href="#" class="hover:underline me-4 md:me-6">Avisos Legales</a>
            </li>
            <li>
                <a href="#" class="hover:underline me-4 md:me-6">¿Cómo comprar?</a>
            </li>
            <li>
                <a href="#" class="hover:underline">¿Cómo cuidamos tu privacidad?</a>
            </li>
        </ul>
        </div>
      </div>
    </footer>
