<section class="p-10 ">
    <dl class="content-center justify-center grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 p-10 gap-5 px-3.5"> 
      <div class="mx-auto shadow-slate-600/50 text-center max-w-60 max-h-80 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
          <img class="p-8 rounded-t-lg opacity-50 " src="./../../../../assets/images/img-07.png" alt="card ">
        <a href="#">
            <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Pagá en cuotas</h5>
        </a>
        <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">Ver promociones bancarias</p>
      </div>
      <div class="mx-auto shadow-slate-600/50 text-center max-w-60 max-h-80 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <img class="p-8 rounded-t-lg opacity-50" src="./../../../../assets/images/img-06.png" alt="card ">
      <a href="#">
          <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Tarjeta de débito</h5>
      </a>
      <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">Ver más</p>
      </div>
      <div class="mx-auto shadow-slate-600/50 text-center max-w-60 max-h-80 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <img class="p-8 rounded-t-lg opacity-50" src="./../../../../assets/images/img-05.png" alt="card ">
      <a href="#">
          <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Efectivo</h5>
      </a>
      <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">Ver más</p>
      </div>
      <div class="mx-auto shadow-slate-600/50 text-center max-w-60 max-h-80 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <img class="p-8 rounded-t-lg opacity-50" src="./../../../../assets/images/img-04.png" alt="card ">
      <a href="#">
          <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Más medios de pago</h5>
      </a>
      <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">Ver todos</p>
      </div>
    </dl>

    <div class="content-center justify-between grid grid-cols-1 md:grid-cols-3  gap-5 p-10 px-3.5"> 
      <div class="mx-auto shadow-slate-600/50 text-center max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <img class="p-8 rounded-t-lg opacity-50" src="./../../../../assets/images/img-03.png" alt="card ">
      <a href="#">
          <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Elegí los productos que vas a comprar</h5>
      </a>
      <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">Si querés más de uno, sumalos a tu carrito</p>
      </div>
      <div class="mx-auto shadow-slate-600/50 text-center max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <img class="p-8 rounded-t-lg opacity-50" src="./../../../../assets/images/img-02.png" alt="card ">
      <a href="#">
          <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Pagá con el medio de pago que quieras</h5>
      </a>
      <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">Comprá con seguridad: usamos la tecnología de Mercado Pago.</p>
      </div>
      <div class="mx-auto shadow-slate-600/50 text-center max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <img class="p-8 rounded-t-lg opacity-50" src="./../../../../assets/images/img-01.png" alt="card ">
      <a href="#">
          <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Recibí el producto que esperás</h5>
      </a>
      <p class="mb-3 font-normal text-gray-500 dark:text-gray-400">Elegí la forma de entrega que prefieras ¡y listo! Aseguramos tu entrega con Envíos de Mercado Libre.</p>
      </div>
    </div>
  </section>
